.card-body-text {
    padding: 150px
}
.search-btn {
    padding: 12px 221px 12px 10px;
}
.search-btn-submit {
    padding: 11px 41px 12px 42px;
}
.legal-card-image {
    width: 53px;
    height: 57px;
   
}